ACTION=="add", SUBSYSTEM=="net", DEVPATH=="/devices/pci*", RUN+="/opt/vyatta/sbin/vyatta-udev.sh $env{ID_MODEL_FROM_DATABASE}"
ACTION=="remove", SUBSYSTEM=="pci",DEVPATH=="/devices/pci*", RUN+="/opt/vyatta/sbin/vyatta-udev.sh"

